.DS_Store
.vscode/
node_modules/
07 - Konami Code
08 - What is this
09 - Parallax Scrolling
10 - Kanban Board
11 - Text Reveal
12 - Air Quality Visualizer
13 - Javascript Weird Parts
14 - Carousel
15 - Music Player
16 - Text to Speech
17 - Speech to Text
18 - What is prototype
19 - Autocomplete
20 - Form Validation
21 - Infinite Scroll Gallery